html {
  background: url(../img/sunny.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  font-family: 'Baloo', cursive;
  color: white;
}

h1 {
  font-size: 3em;
}

.horizontal-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.vertical-flex {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.right-padded {
  padding-right: 1em;
  text-align: right;
}

.weather-box {
  width: 50%;
  height: 30em;
  position: fixed;
  top: 55%;
  left: 35%;
}

#header {
  justify-content: flex-end;
  background-color: transparent;
}
